
footer {
    background-color: #ede6f0;
    color: #7c0c5a;
    text-align: center;
    padding: 1rem;
    position:relative;
    bottom: 0;
    width: 100%;
    margin-top:2%;
  }
  
  .footer-content {
    margin: 0 auto;
  }
  
 
  
  